* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    font-family: "Lexend Deca", sans-serif;
}

@media (max-width: 767px) {
    body {
        display: block;
        height: fit-content;
    }
}

.cards-holder {
    width: 800px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .cards-holder {
        flex-direction: column;
        margin: 30px auto;
        width: calc(100% - 200px);
        height: calc(100% - 80px);
        overflow: hidden;
    }
}

.card {
    flex-basis: calc(100% / 3);
    padding: 40px;
}

@media (max-width: 767px) {
    .card {
        height: calc(100% / 3);
    }
}

.card svg {
    margin-bottom: 25px;
}

.card h2 {
    color: #f2f2f2;
    margin-bottom: 30px;
    font-size: 35px;
    text-transform: uppercase;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
}

.card p {
    color: #ffffffbf;
    font-size: 15px;
    font-size: 13.8px;
    line-height: 1.5rem;
}

.card button {
    cursor: pointer;
    outline: none;
    display: block;
    padding: 15px 0;
    text-align: center;
    width: 130px;
    text-transform: capitalize;
    font-family: 'Lexend Deca';
    margin: 70px 0 0;
    border-radius: 30px;
    transition: .4s;
    border: 2px solid #f2f2f2;
}


@media (max-width: 767px) {
    .card button {
        margin: 20px 0 0 auto;
    }
    .card h2 {
        margin-bottom: 30px;
    }
}


.card:first-child {
    background-color: #e38826;
}

.card:nth-child(2) {
    background-color: #006970;
}

.card:last-child {
    background-color: #004241;
}

.card:first-child button {
    color: #e38826;
}

.card:nth-child(2) button {
    color: #006970;
}

.card:last-child button {
    color: #004241;
}

.card button:hover {

    color: #f2f2f2;
}

.card:first-child button:hover {
    background-color: #e38826;
}

.card:nth-child(2) button:hover {
    background-color: #006970;
}

.card:last-child button:hover {
    background-color: #004241;
}
